.container {
  width: 100%;
  position: relative;
}

.controls {
  position: relative;
}

.sticky {
  background: #191919;
  border-radius: 6px;
  box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  top: 200px;
  right: 20px;
  left: 20px;
  padding: 20px;
  margin: 0 20px;
}

.scroll {
  height: 80vh;
  overflow-y: scroll;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-content: start;
}

.card {
  background: #191919;
  border: #181818 6px solid;
  border-radius: 6px;
  height: 270px;
  font-size: 30px;
  white-space: nowrap;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fieldset {
  flex: 1 1 auto;
}

.label {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 6px;
}

.labelText {
}

.range {
  width: 100%;
}
