.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-content: start;
  padding: 20px;
}

.card {
  background: #191919;
  border: #181818 6px solid;
  border-radius: 6px;
  height: 270px;
  font-size: 30px;
  white-space: nowrap;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

