.grid {
  min-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 270px;
  align-content: start;
  gap: 20px;
  padding: 20px;
}
