.container {
  background: #000;
  border-radius: 6px;
  border: 1px solid #3f3f3f;
  height: 400px;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  align-content: start;
  padding: 16px;
}

.card {
  background: #191919;
  border-radius: 6px;
  font-size: 10px;
  height: 120px;
  white-space: nowrap;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
