/* CARD */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  background: #191919;
  border-radius: 6px;
  font-size: 30px;
  white-space: nowrap;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardName {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 22px;
  color: #999;
  padding: 8px;
}

.cardLabel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  padding: 8px;
}
