.container {
  background: #000;
  border-radius: 6px;
  border: 1px solid #3f3f3f;
}

.carousel {
  margin: 32px;
  overflow: hidden;
}

.scroll {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 766px;
  grid-template-rows: repeat(1, minmax(320px, 1fr));
  align-content: start;
  gap: 16px;
  padding: 0;
}

.card {
  background: #191919;
  border-radius: 6px;
  font-size: 14px;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav {
  cursor: pointer;
  color: #666;
}

.nav.active {
  color: #fff;
}

.nav.disabled {
  color: #222;
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}
